Anaconda3-2022.10-Windows-x86_64.exe
cztery_hetmany.html
dryf_genetyczny.html
egzamin.py
Git-2.41.0-64-bit.exe
import string.py
pig_game.html
sciagnijDane.py
zad1.py
zad2.py
zad3.py
zad4.py
zad5.py
zadanie_10.1.py
zadanie_10.2.py
zadanie_10.3.py
zadanie_10.4.py
zadanie9a.py
zadanie9b.py
zadanie9c.py
zadanie9d.py
